body {
  margin: 0;
  letter-spacing: .2rem;
  font-family: 'Barlow', sans-serif;
  font-family: 'Playfair', serif;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}