.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
  margin-top: 5px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.latest-projects {
  display: flex;
  justify-content: space-between;  
  height: 100%;
  width: 100%;
}

.latest-projects a{
  color: #888681;
}

.home-page {
  padding-left: 125px;
  padding-right: 125px;
}