footer {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.upper-footer-section,
.lower-footer-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 27px 0;
}

.upper-footer-section>span,
.lower-footer-section>span {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.upper-footer-section img {
  width: 130px;
  height: 117px;
}

.lower-footer-section {
  border-top: 1px solid #888681;
}

.upper-footer-section span span {
  display: flex;
  gap: 15px;
}

.lower-footer-section>span {
  margin: 0 10px 0px 0px;
  font-size: 13px;
  color: #888681;
}

.upper-footer-section span h3 {
  margin-top: -20px;
  margin-right: 25px;
  font-family: 'Barlow', sans-serif;
  color: #000000;
}

.content-container {
  gap: 5px;
  color: #888681;
}

.footer-element {
  font-size: 16px;
  gap:16px;
  letter-spacing: 0;
}