.center-content {
  max-width: 1440px;
  margin: 0 auto;
  position: relative; /* Added this to make the navbar container relative */
}

.navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 20px auto;
}

.navigation-bar a {
  text-decoration: none;
  color: #000000;
  vertical-align: middle;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
}

.navigation-bar>* {
  border: none;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
}

.link-content {
  display: inline-flex;
  align-items: center;
}

.dropdown-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.dropdown-menu a {
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #f7f7f7;
}

/* Added styles for positioning the icons and p tag */
.icons-container, .language-container {
    position: absolute;
    top: 10px; /* Adjust as required */
}

.icons-container {
    left: 10px; /* Adjust as required */
}

.language-container {
    right: 10px; /* Adjust as required */
}

.icon {
    font-size: 24px; /* adjust size as needed */
    margin-right: 10px; /* space between icons */
}

.language-container p {
    margin: 0; /* Removing the default margin */
    cursor: pointer;
}
